#Ejecutables
*.class
*.exe

#MAC
.DS_Store
/Ejercicios/Ejercicio4_MiniAlmacen/build/
/Practicas/Practica1/nbproject/private/
/Practicas/Ejercicio6/nbproject/private/
/Ejercicios/Ejercicio6/Ejercicio6/build/